{
  "all": true,
  "include": [
    "src/**/*.{js,vue}"
  ],
  "exclude": [
    "**/*.spec.js",
    "**/cypress/**"
  ],
  "extension": [
    ".js",
    ".vue"
  ],
  "reporter": [
    "text",
    "json",
    "html"
  ]
}
