<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="icon" type="image/ico" href="favicon.ico">
  </head>
  <body>
    <!-- quasar:entry-point -->
    <canvas v-show="false" id="fingerprintCanvas" width="200" height="200"></canvas>
  </body>

  <script>
    setTimeout(() => {
      // 准备绘图环境
      var canvas = document.getElementById("fingerprintCanvas");
      var ctx = canvas.getContext("2d");

      // 设置文本属性
      ctx.textBaseline = "top";
      ctx.font = "14px 'Arial'";
      ctx.textBaseline = "alphabetic";
      ctx.fillStyle = "#f60";
      ctx.fillRect(125, 1, 62, 20);

      // 设置渐变色
      var gradient = ctx.createLinearGradient(2, 0, 150, 0);
      gradient.addColorStop(0, "rgba(102, 204, 0, 0.7)");
      gradient.addColorStop(1, "rgba(255, 102, 0, 0.7)");
      ctx.fillStyle = gradient;

      // 绘制文字
      ctx.fillText("Hello, world!", 2, 15);

      // 绘制一个蓝色的点
      ctx.fillStyle = "rgba(0, 0, 255, 0.6)";
      ctx.fillRect(80, 4, 10, 10);

      // 将Canvas的数据转换为一个哈希值，用以标识指纹
      // 例如，通过取Canvas的toDataURL来获取图像数据的base64编码，然后进行哈希
      // 使用这个函数
      const dataURL = canvas.toDataURL();
      hashFunction(dataURL).then((canvasFingerprint) => {
        window.fingerprint = canvasFingerprint;
        // 删除指纹获取的canvas元素
        var parentElement = canvas.parentNode;
        parentElement.removeChild(canvas);
      });

      async function hashFunction(data) {
        // 将字符串转换成Uint8Array
        const dataBuffer = new TextEncoder().encode(data);

        // 使用SubtleCrypto的digest方法进行哈希
        const hashBuffer = await crypto.subtle.digest("SHA-256", dataBuffer);

        // 将哈希值转换为16进制字符串
        const hashArray = Array.from(new Uint8Array(hashBuffer));
        const hashHex = hashArray
          .map((b) => b.toString(16).padStart(2, "0"))
          .join("");        
        return hashHex;
      }
    }, 300);
  </script>
</html>
